
@model EntityLayer.Concrete.Contact 

<div class="col-lg-6 col-md-6">
    <h5 class="text-white mb-4">İletişim</h5>
    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>@Model.Address</p>
    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+90 @Model.Phone</p>
    <p class="mb-2"><i class="fa fa-envelope me-3"></i>@Model.Mail</p>
    <div class="d-flex pt-2">
        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>
