

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="wrapper wrapper-content">
    @await Component.InvokeAsync("DashboardStatistic")
    <div class="row">
        @await Component.InvokeAsync("DashboardMessage")
        <div class="col-lg-8">
            @await Component.InvokeAsync("DashboardUser")
            <div class="row">
                @await Component.InvokeAsync("DashboardProperty")
            </div>
        </div>
    </div>
</div>


